<% if (theme.widgets.cateList && site.categories.length){ %>
    <div class="catelist">
        <div class="title">分类</div>
          <ul class="content">
            <% site.categories.each(function(category) { %>
	             <li><a href="<%- url_for(category.path) %>">·<%= category.name%></a></li>
            <% }); %>
          </ul>
        </div>
    </div>
<% } %>
