<div class="container">
  <div class="archive">
      <div class="archive-title">分类</div>
      <div class="catelist">
          <% site.categories.each(function(category) { %>
             <div><a href="<%- url_for(category.path) %>"><%= category.name%></a></div>
          <% }); %>
      </div>
  </div>
</div>
