<ion-icon name="search-outline" id="search-button"></ion-icon>
<div class="widget">
  <%- partial('_partial/widget/tagCloud') %>
</div>
<div class="widget">
  <%- partial('_partial/widget/cateList') %>
</div>
