<topTerminal>
  <div class="text-editor-wrap">
			<div class="title-bar">
        <div class="threeDots">
        <img src ='/image/3dots.png'/></div>
        <span class="title">bash — 50x<span class="terminal-height">20</span></span></div>
			<div class="text-body">
				$ <span id="typed">Try it out!</span><span class="typed-cursor">|</span>
			</div>
		</div>
  </div>
</topTerminal>
