.modal{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}

/* Modal Content/Box */
.modal-content {
  background-color: #ffffff;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
  animation-name: animatetop;
  animation-duration: 0.4s
}

.search-input {
  #local-search-input {
    border: none;
    outline: none;
    box-shadow: none;
    display: block;
    width: 100%;
    height: 35px;
    padding: auto 30px;
    font-size: 1em;
    line-height: 1.5em;
    color: rgb(110, 110, 110);
  }
}
#local-search-result{
  display: block;
  width: 100%;
  height: auto;
  font-size: .8em;
  line-height: 1.5em;
  color: rgb(110, 110, 110);
  a {
    margin:0;
    padding:0;
    text-decoration:none;
    color: rgb(110, 110, 110);
    &:hover {
      color: #006600;
      text-decoration: underline;
    }
  }

  p {
    margin:0;
    padding:0;
  }

  .search-keyword {
    color: #006600;
    font-style: normal;
  }
}

@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}
