ion-icon {
  &:hover {
    color: #006600;
  }
}

.sidebar {
  margin-top: 5%;
  flex:33.33%;
  text-align:right;
}

  .widget{
  margin-top: 5%;
  width:50%;
  margin-left:auto;
  margin-right:0;
  }

  .title{
    font-size: 1em;
  }

  .content{
    margin-top:2%;

    a {
    font-size: .8em;
    color: #006600;
    text-decoration: none;
      &:hover {
        color: rgb(110, 110, 110);
        text-decoration: underline;
      }
    }
  }

  ul {
  list-style-type: none;
  }

aside {
margin-top: 5%;
flex:1;
  ul {
  list-style-type: none;
  margin-left:-30px
  }
}

#disqus_thread{
  margin-left:10px;
  margin-top:50px;
}

#toc{
  margin-top: 20px;
  position: fixed;
  font-size: .6em;
}
#toc a.read{
    color: rgb(110, 110, 110);
    border-bottom: 0;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

#toc a{
    color: #006600;
    border-bottom: 0;
    text-decoration: none;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

#toc a:hover{
    color: #000000;
    padding-left: 5px;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -ms-transition: 0.1s;
    -o-transition: 0.1s;
}
